<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>|Jogo da matemática|</title>
    <link rel="shortcut icon" href="../../static/math_online/images/mathematic.png" type="image/x-icon">
    <link rel="stylesheet" href="../../static/math_online/css/index.css">
    
</head>
<body>
    <script src="../../static/math_online/js/index.js"></script>
    <audio autoplay loop  id="backgroundAudio" >
        <source src="../../static/math_online/images/[SPOTIFY-DOWNLOADER.COM] Deku Palace - Lofi (From _The Legend of Zelda_ Majora's Mask_).mp3" type="audio/mp3" >
    </audio>
    <div id="inicio">
        <h1 class="titulo1">JOGO DA MATEMÁTICA</h1>
        <button class="iniciar">INICIAR</button>

    </div>
    <div id="nova-secao" class="section" style="display: none;">
      
    </div>
    </body>
</html>